; References:
;   https://coverage.readthedocs.io/
[html]
directory = tests/reports/coverage

[run]
branch = True
omit =
  .eggs/*
  setup.py
  env/*
  tests/*
  */tests/*
  build/*
  dist/*
  configs/*
  venv/*

[report]
ignore_errors = True
omit =
  */tests/*
  .tox/*
  tests/*
exclude_lines =
  raise NotImplementedError.*
  pragma: NO COVER
  def __repr__
