; .coveragerc
;
; references:
;   https://coverage.readthedocs.io/

[run]
branch = True
data_file = tests/reports/.coverage
omit =
  .eggs/*
  setup.py
  env/*
  tests/*
  */tests/*
  build/*
  dist/*
  configs/*
  venv/*

[report]
show_missing = True
ignore_errors = True
omit =
  */tests/*
  .tox/*
  tests/*
exclude_lines =
  raise NotImplementedError.*
  pragma: NO COVER
  def __repr__

[html]
title = Coverage Report
directory = tests/reports/coverage

[json]
output = tests/reports/coverage.json
pretty_print = True
show_contexts = True

[lcov]
output = tests/reports/coverage.lcov
line_checksums = True

[xml]
output = tests/reports/coverage.xml

